img { 
  width: 100%;
}

section {
  display: block;
  background-color: lightgray;
}

body {
  background-color: #ccc;
  font-family: Arial, Helvetica, sans-serif;
  color: #332;
  display: block;
}

.avatar {
  box-shadow: rgb(0 0 0 / 10%) 0 10px 10px;
  width: 200px;
  border-radius: 70%;
  margin-top: 50px;
}
.bigger {
  font-size: large;
}

.mines {
  font-size: medium;
  font-family: sans-serif ;
}

#move {
display: block;
display: flex;
}

.blues {
  color: rgb(82, 165, 216);
}

html {
  font size: 62%;
  -webkit-tap-highlight-color: rgba(0,0,0,0)
}

.Tom {
  -webkit-tap-highlight-color: rgba(0,0,0,0) 
}
