img { 
  width: 100%;
}

section {
  display: block;
}

.avatar {
  box-shadow: rgb(0 0 0 / 10%) 0 10px 10px;
  width: 200px;
  border-radius: 70%;
  margin-top: 50px;
}

.mines {
  font-size: medium;
  font-family: sans-serif ;
  font-weight: 100;
}

#move {
display: block;
display: flex;


}

.blues {
  color: rgb(82, 165, 216);
}